{% extends 'base/base.html' %}

{% if mensaje %}
{{mensaje}}
{% endif %}

{% block contenido %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<a href="{% url 'reservas:nueva_reserva' %}">Nueva Reserva</a>
<table>
    <tr>
        <td><h2>ID</h2></td>
        <td><h2>Fecha Creacion</h2></td>
        <td><h2>Fecha Reserva</h2></td>
        <td><h2>Cliente</h2></td>
        <td><h2>Responsable</h2></td>
        <td><h2>Empleado</h2></td>
        <td><h2>Servicio</h2></td>
        <td><h2>Precio</h2></td>
    </tr>

    {% for reserva in reservas %}
    <tr>
        <th>{{reserva.id}} </th>
        <th>{{reserva.fecha_creacion}}</th>
        <th>{{reserva.fecha_reserva}}</th>
        <th>{{reserva.cliente}}</th>
        <th>{{reserva.responsable}}</th>
        <th>{{reserva.empleado}}</th>
        <th>{{reserva.servicio}}</th>
        <th>{{reserva.precio}}</th>
        <th>
            <a href="{% url 'reservas:eliminar_reserva' reserva.id %}">Eliminar</a>
            <a href="{% url 'reservas:modificar_reserva' reserva.id %}">Modificar</a></th>
    </tr>

    {%endfor%}
</table>

{% endblock contenido %}