{% extends 'base/base.html' %}

{% if mensaje %}
{{mensaje}}
{% endif %}

{% block contenido %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<div class="container">
<h1 class="m-4">Lista de Reservas</h1>

<a href="{% url 'reservas:nueva_reserva' %}" class="float-end m-2"><button type="button" class="btn btn-primary text-aling-center rounded-5"><i class="bi bi-calendar4-week"></i> Nueva Reserva</button></a>

<table class="table table-striped text-center">
    <tbody>
      <tr class="table-secondary fs-4 ">
        <td>ID</td>
        <td>Fecha Creacion</td>
        <td>Fecha Reserva</td>
        <td>Cliente</td>
        <td>Responsable</td>
        <td>Empleado</td>
        <td>Servicio</td>
        <td>Precio</td>
        <td class="col-3">Acciones</td>
      </tr>
        {% for reserva in reservas %}
    <tr class="align-text-bottom">
        <th class="fs-6 fw-normal">{{reserva.id}}</th>
        <th class="fs-6 fw-normal">{{reserva.fecha_creacion}}</th>
        <th class="fs-6 fw-normal">{{reserva.fecha_reserva}}</th>
        <th class="fs-6 fw-normal">{{reserva.cliente}}</th>
        <th class="fs-6 fw-normal">{{reserva.responsable}}</th>
        <th class="fs-6 fw-normal">{{reserva.empleado}}</th>
        <th class="fs-6 fw-normal">{{reserva.servicio}}</th>
        <th class="fs-6 fw-normal">{{reserva.precio}}</th>
        <th>
            <a href="{% url 'reservas:eliminar_reserva' reserva.id %}"><button type="button" class="btn btn-danger rounded-start-pill"><i class="bi bi-trash3-fill"></i> Eliminar</button></a>
            <a href="{% url 'reservas:modificar_reserva' reserva.id %}"><button type="button" class="btn btn-dark rounded-end-pill"><i class="bi bi-pencil-square"></i> Modificar</button></a>
        </th>
    </tr>

    {%endfor%}
    </tbody>
  </table>

</div>
{% endblock contenido %}

