{% extends 'base/base.html' %}
{% block contenido %}
<div class="container-fluid" style="margin-top:30px">
    <div class="container-fluid card w-75 bg-primary-subtle">
    <h1 class="fs-1 text-center" style="margin-top:30px">Reserva</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="botones btn btn-success">Guardar</button>
</form>
<a href="{% url 'reservas:listado_reservas' %}"><button class="botones btn btn-primary  mb-5">Lista de Reservas</button></a>
</div>
</div>
{% endblock contenido %}