{% extends 'base/base.html' %}

{% block contenido %}

<div class="container-fluid">
  <h1 class="fs-1 text-center m-4">Lista de Empleados</h1>

  <a href="{% url 'empleados:nuevo_empleado' %}" class="float-end m-2">
    <button type="button" class="btn btn-primary rounded-5">
      <i class="bi bi-person-fill-add"></i> Nuevo Empleado
    </button>
  </a>

  <table class="table table-hover text-center">
    <tbody>
      <tr class="table-secondary fs-4 fw-semibold">
        <td>ID</td>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Número Legajo</td>
        <td>Acciones</td>
      </tr>
      {% for empleado in empleados %}
        <tr class="align-text-bottom {% if empleado.activo %} table-success {% else %} table-danger {% endif %}">
          <td class="fs-6 fw-normal fw-semibold">{{empleado.id}}</td>
          <td class="fs-6 fw-normal fw-semibold">{{empleado.nombre}}</td>
          <td class="fs-6 fw-normal fw-semibold">{{empleado.apellido}}</td>
          <td class="fs-6 fw-normal fw-semibold">{{empleado.numero_legajo}}</td>
          <td>
            {% if empleado.activo %}
              <a href="{% url 'empleados:desactivar_empleado' empleado.id %}" class="btn btn-danger rounded-start-pill">
                <i class="bi bi-person-fill-slash"></i> Desactivar
              </a>
            {% else %}
              <a href="{% url 'empleados:activar_empleado' empleado.id %}" class="btn btn-success rounded-start-pill">
                <i class="bi bi-person-fill-check"></i> Activar
              </a>
            {% endif %}
            <a href="{% url 'empleados:modificar_empleado' empleado.id %}" class="btn btn-dark rounded-end-pill">
              <i class="bi bi-pencil-square"></i> Modificar
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock contenido %}
