{% extends 'base/base.html' %}

{% block contenido %}

<h1>Lista de Empleados</h1>
<div><a href="/empleados/nuevo">Nuevo</a></div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Numero Legajo</th>
          <th scope="col">Activo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        {% for empleado in empleados %}
        
          <th scope="row">{{empleado.nombre}}</th>
          <td>{{empleado.apellido}}</td>
          <td>{{empleado.numero_legajo}}</td>
          <td>{{empleado.activo}}</td>
          <td><a href="/empleados/modificar/{{empleado.pk}}"><div style="height:100%;width:100%">Modificar</div></a></td>
          <td><a href="/empleados/activar/{{empleado.pk}}"><div style="height:100%;width:100%">Activar</div></a></td>
          <td><a href="/empleados/desactivar/{{empleado.pk}}"><div style="height:100%;width:100%">Desactivar</div></a></td>
        </tr>
        {% endfor %}
    
      </tbody>
    </table>

{% endblock contenido %}