{% extends 'base/base.html' %}

{% block contenido %}
<div class="container-fluid">
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<h1 class="fs-1 text-center m-4">Lista de Coordinadores</h1>

<a href="{% url 'coordinadores:nuevo_coordinador' %}" class="float-end m-2"><button type="button" class="btn btn-primary text-aling-center rounded-5"><i class="bi bi-person-fill-add"></i> Nuevo Coordinador</button></a>

<table class="table table-hover text-center">
    <tbody>
      <tr class="table-secondary fs-4 fw-semibold">
        <td>ID</td>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>DNI</td>
        <td>Acciones</td>
      </tr>
        {% for coordinador in coordinadores %}
    <tr class="align-text-bottom {% if coordinador.activo %} table-success {% else %} table-danger {% endif %}">
        <th class="fs-6 fw-semibold">{{coordinador.id}} </th>
        <th class="fs-6 fw-semibold">{{coordinador.nombre}}</th>
        <th class="fs-6 fw-semibold">{{coordinador.apellido}}</th>
        <th class="fs-6 fw-semibold">{{coordinador.numero_documento}}</th>
        <th>
            {%if coordinador.activo %}
            <a href="{% url 'coordinadores:desactivar_coordinador' coordinador.id %}"><button type="button" class="btn btn-danger rounded-start-pill"><i class="bi bi-person-fill-slash"></i> Desactivar</button></a>
            {% else %}
            <a href="{% url 'coordinadores:activar_coordinador' coordinador.id %}"><button type="button" class="btn btn-success rounded-start-pill"><i class="bi bi-person-fill-check"></i> Activar</button></a>
            {% endif %}
            <a href="{% url 'coordinadores:modificar_coordinador' coordinador.id %}"><button type="button" class="btn btn-dark rounded-end-pill"><i class="bi bi-pencil-square"></i> Modificar</button></a>
        </th>
    </tr>

    {%endfor%}
    </tbody>
  </table>
</div>

{% endblock contenido %}