{% extends 'base/base.html' %}

{% block contenido %}

<div class="container-fluid">
  <h1 class="fs-1 text-center m-4">Lista de Servicios</h1>

  <a href="{% url 'servicios:nuevo_servicio' %}" class="float-end m-2">
    <button type="button" class="btn btn-primary rounded-5">
      <i class="bi bi-clipboard2-plus-fill"></i> Nuevo Servicio
    </button>
  </a>

  <table class="table table-hover text-center">
    <tbody>
      <tr class="table-secondary fs-4  fw-semibold">
        <td>ID</td>
        <td>Nombre</td>
        <td>Descripción</td>
        <td>Acciones</td>
      </tr>
      {% for servicio in servicios %}
        <tr class="align-text-bottom {% if servicio.activo %} table-success {% else %} table-danger {% endif %}">
          <td class="fs-6  fw-semibold">{{servicio.id}}</td>
          <td class="fs-6  fw-semibold col-2">{{servicio.nombre}}</td>
          <td class="fs-6  fw-semibold col-6">{{servicio.descripcion}}</td>
          <td>
            {% if servicio.activo %}
              <a href="{% url 'servicios:desactivar_servicio' servicio.id %}" class="btn btn-danger rounded-start-pill">
                <i class="bi bi-clipboard2-x-fill"></i> Desactivar
              </a>
            {% else %}
              <a href="{% url 'servicios:activar_servicio' servicio.id %}" class="btn btn-success rounded-start-pill">
                <i class="bi bi-clipboard2-check-fill"></i> Activar
              </a>
            {% endif %}
            <a href="{% url 'servicios:modificar_servicio' servicio.id %}" class="btn btn-dark rounded-end-pill">
              <i class="bi bi-pencil-square"></i> Modificar
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock contenido %}
