p input, textarea, select{
    display: block;
    width: 70%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0 auto;
}

p label{
    display: block;
    width: 70%;
    font-size: calc(1rem + .6vw);
    font-style: italic;
    margin: 5px auto;
}

.botones{
    display: block;
    margin: 10px auto;
    width: 300px;
    font-size: 1.5rem;
}

section{
    min-height: calc(100vh - 54px);
}
