{% extends 'base/base.html' %}
{% block javascript %}
<script> 
  //Cuadro de diálogo de confirmación en JavaScript
  function aviso()
  {
    alert("Cliente agregado con éxito!!!");
  }
</script>
{% endblock javascript %}
{% block contenido %}
<div class="container-fluid" style="margin-top:30px">
    <div class="container-fluid card w-75 bg-primary-subtle">
<h1 class="fs-1 text-center" style="margin-top:30px">Cliente</h1>
<form method="POST" action=""  onSubmit="aviso()">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="botones btn btn-success">Guardar</button>
</form>
<a href="{% url 'clientes:listado_clientes' %}"><button class="botones btn btn-primary mb-5">Lista de Clientes</button></a>
</div>
</div>
{% endblock contenido %}