{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}


<div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img src="{% static 'imagenes/casamiento.jpg' %}"  class="d-block w-50 mx-auto mt-4" alt="casamiento">
        <div class="carousel-caption d-none d-md-block text-dark mb-3">
          <h4>Casamientos</h4>
          <h6>Un evento a la altura de las emociones</h6>
        </div>
      </div>
      <div class="carousel-item active ">
        <img src="{% static 'imagenes/empresariales.jpg' %}" class="d-block w-50 mx-auto mt-4" alt="empresariales">
        <div class="carousel-caption d-none d-md-block text-dark mb-3">
          <h4>Empresariales</h4>
          <h6>Eventos formales e informales</h6>
        </div>
      </div>
      <div class="carousel-item active ">
        <img src="{% static 'imagenes/15anos.jpg' %}" class="d-block w-50 mx-auto mt-4" alt="15 años">
        <div class="carousel-caption d-none d-md-block  mb-3">
          <h4>15 años</h4>
          <h6>Momentos inolvidables</h6>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


{% endblock contenido %}