{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}


<div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img src="{% static 'imagenes/casamiento.jpg' %}"  class="d-block w-50 mx-auto mt-4" alt="casamiento">
        <div class="carousel-caption d-none d-md-block">
          <h5>Casamientos</h5>
          <p>Un evento a la altura de las emociones</p>
        </div>
      </div>
      <div class="carousel-item active ">
        <img src="{% static 'imagenes/empresariales.jpg' %}" class="d-block w-50 mx-auto mt-4" alt="empresariales">
        <div class="carousel-caption d-none d-md-block">
          <h5>Empresariales</h5>
          <p>Eventos formales e informales</p>
        </div>
      </div>
      <div class="carousel-item active ">
        <img src="{% static 'imagenes/15anos.jpg' %}" class="d-block w-50 mx-auto mt-4" alt="15 años">
        <div class="carousel-caption d-none d-md-block">
          <h5>15 años</h5>
          <p>Momentos inolvidables</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


{% endblock contenido %}